* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


@media only screen and (max-width: 960px) {
    html {
        font-size: 5px;
    }
}